attrs==23.1.0
blessed==1.20.0
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
inquirer==3.1.3
Jinja2==3.1.2
jsonschema==4.18.4
MarkupSafe==2.1.3
mccabe==0.7.0
ninja2==0.1
pycodestyle==2.10.0
pyflakes==3.0.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-editor==1.0.4
readchar==4.0.5
requests==2.31.0
six==1.16.0
urllib3==2.0.3
wcwidth==0.2.6
pyyaml==6.0
xmltodict==0.13.0
shortuuid==1.0.11