<!DOCTYPE html>
<html>
<title>BTP-SETUP-AUTOMATOR</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>
body {font-family: "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {
  padding: 16px;
  font-weight: bold;
}
</style>
<body>

<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:250px;" id="mySidebar">
  <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close <i class="fa fa-remove"></i></a>
  <a class="w3-bar-item w3-button w3-teal" href="#">Home</a>
  {%- for category in btpservicelist %}
  <a class="w3-bar-item w3-button w3-teal" href="#{{ category.name }}">{{ category.name }}</a>
        {%- for service in category.list %}
        <a class="w3-bar-item w3-button" href="#{{ category.name }}-{{ service.name }}">{{ service.name }}</a>
        {%- endfor %}
  {%- endfor %}

</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:250px;">

<div id="myTop" class="w3-container w3-top w3-theme w3-large">
  <p><i class="fa fa-bars w3-button w3-teal w3-hide-large w3-xlarge" onclick="w3_open()"></i>
  <span id="myIntro" class="w3-hide">BTP-SETUP-AUTOMATOR</span></p>
</div>

<header class="w3-container w3-theme" style="padding:64px 32px">
  <h1 class="w3-xxxlarge">SAP BTP services</h1>
  <h2 class="w3-large">for developers</h2>
</header>

<div class="w3-container" style="padding:32px">

<h2>Purpose</h2>

<p>This page provides an overview over the services, app subscriptions (applications) and environments.</p>

<hr>

{%- for category in btpservicelist %}
<h2 id="{{ category.name }}">{{ category.name }}</h2> 

{%- for service in category.list %}
<h3 id="{{ category.name }}-{{ service.name }}">{{ service.name }} ({{ service.displayName }})</h3>

<p>{{ service.description }}</p>

{%- for plan in service.servicePlans %}
<h4>Service plan "{{ plan.name }}"</h4> 

<p>{{ plan.description }}</p>

This service is available in the following <b>regions</b>:
<ul>
    {%- for datacenter in plan.dataCenters %}
    <li><b>{{ datacenter.region }}</b>: {{ datacenter.displayName }} ({{ datacenter.environment }} environment)</li>
    {%- endfor %}
</ul>

{%- endfor %}
{%- endfor %}
{%- endfor %}

</div>

<script>
// Open and close the sidebar on medium and small screens
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Change style of top container on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
    document.getElementById("myIntro").classList.add("w3-show-inline-block");
  } else {
    document.getElementById("myIntro").classList.remove("w3-show-inline-block");
    document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
  }
}

// Accordions
function myAccordion(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme", "");
  }
}
</script>
     
</body>
</html> 
